<header class="jumbotron text-center">
  <div class="container">
    <h1>My Todo</h1>
    <p class="lead my-5">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    <p>
      <%= link_to new_task_path, class: "btn btn-success btn-lg my-2" do %>
        <i class="fas fa-plus mr-2"></i> Create new task
      <% end %>
    </p>
  </div>
</header>
